<html>
<head>
  <title>Chat</title>
  <style>
    input { display: block; }
    ul { list-style: none; }
  </style>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <ul id="messages"></ul>
  WebSocketを使ったチャットアプリケーション
  <form action="" id="chatbox">
    {{.UserData.name}}<br/>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="送信">
  </form>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(function () {
   var socket = null;
   var msgBox = $("#chatbox textarea");
   var messages = $("#messages");
   $("#chatbox").submit(function(){
     if(!msgBox.val()) return false;
     if(!socket) {
       alert("エラー： WebSocket接続が行われていません。");
       return false;
     }
     socket.send(JSON.stringify({"Message": msgBox.val()}));
     msgBox.val("");
     return false;
   });

   if (!window["WebSocket"]) {
     alert("エラー：WebSocketには対応していないブラウザです。");
   } else {
     socket = new WebSocket("ws:/{{.Host}}/room");
     socket.onclose = function () {
       alert("接続が終了しました。");
     }
     socket.onmessage = function (e) {
       var msg = eval("("+e.data+")");
       messages.append(
         $("<li>").append(
           $("<span>").text(msg.Sent_at + "--"),
           $("<strong>").text(msg.Name + ": "),
           $("<span>").text(msg.Message)
         )
       );
     }
   }
  });
</script>
</html>
